body {
  background-color: #999;
  height: auto;
}

.sidebar ul{
  padding-left: 20px;
  padding-right: 16px;
  text-align: center;
}
.sidebar li {

  padding-top: 20%;
  font-size: large;
}

li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: #999;
  display: block;
}
.sidebar {
  width: 100%;
  left: 2px;
  width: 20px;
  background-color: #222;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 1rem;
  margin-right: 1rem;
  transition: width 0.75s ease, margin-right 0.75s ease;
}

.container {
  display: flex;
  width: 100%;
  transition: margin-left 0.75s ease;
  margin-left: 0;

}

/* Appliquer l'effet de déplacement au contenu au survol de la sidebar */
.sidebar:hover {
  width: 200px;
}
.main {
  width: 100%;
  left: 30px;
  margin-left: 5px;
  align-items: center;
  text-align: center;
  align-content: center;
}
.sidebar:hover + .main {
  transition: margin-left 0.75s ease;
}

img {
  max-width: 100%;
  display: flex;
}

h1 {
  text-align: center;
  font-size: 48px;
}
h2 {
  font-size: 30px;
  margin-top: 40px;
  text-align: center;
}
h3 {
  font-size: 25px;
  text-align: center;
}
p{text-align: center;}

.button {
  border-radius: 8px;
}
.exemple {
  margin-left: 20%;
  margin-right: 20%;
}

.exercice {
  border-top: 2px black solid;
  margin-top: 2% ;
}


